.menu {
    height: 64px;
    position: fixed;
    z-index: 11;
    width: 100%;
}

.layout {
    display: flex;
    min-height: calc(100vh);
    overflow: hidden;
    height: 100vh;
    background-color: rgb(20, 20, 20);
}

.sidebar {
    width: 12rem;
    padding: 5rem 1rem 2rem 1rem;
    z-index: 10;
    height: 100%;
}

.sidebarButton {
    display: none;
}

.main {
    flex: 1 0 auto;
    overflow: scroll;
    width: calc(100% - 12rem);
    height: 100%;
    padding: 5rem 2rem 1rem 2rem;
}

.logo {}

.login {}

.anonymous {}

.layout.anonymous>.sidebar {
    display: none;
}

.resetLink {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1024px) {
    .logo.login {
        margin-left: 3rem;
    }

    .menu {
        z-index: 9;
    }

    .sidebar {
        top: 0;
        left: -10rem;
        position: fixed;
        width: 10rem;
        padding: 0;
        z-index: 10;
        height: 100%;
        background-color: rgb(30 30 30);
        transition: left 0.3s ease-in-out;
    }

    .sidebar:before {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebarOpen {
        left: 0;
        transition: left 0.3s ease-in-out;
    }

    /* back to sidebar open */
    .sidebarOpen:before {
        opacity: 1;
        content: "";
        position: absolute;
        top: 0;
        right: -80rem;
        width: 80rem;
        height: 100%;
        background-color: rgb(12 12 12 / 79%);
        z-index: -1;
        transition: opacity 0.3s ease-in-out;
    }

    .sidebarButton {
        display: block;
        position: absolute;
        top: 0.8rem;
        right: -2.9rem;
        height: 2.5rem;
    }

    .main {
        flex: 1 0 auto;
        overflow: scroll;
        width: 100%;
    }
}

@media (max-width: 599px) {
    .menu {
        height: 56px;
    }

    .layout {
        min-height: 100vh;
    }

    .sidebarButton {
        top: 0.5rem;
    }
}