html,
body {
  height: 100%;
  background-color: #f2f2f2;
}

a {
  cursor: pointer;
  color: #7cadd6;
  text-decoration: none;
  transition: color 0.1s ease-in-out;
}

a:hover {
  color: #bdd7ed;
  transition: color 0.1s ease-in-out;
}